/* @import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');
/* font-family: 'Roboto', sans-serif; --- normal font
font-family: 'Roboto Slab', serif; --- headings*/


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto Slab', serif;
}


.app{
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif; 
}

.contain{
  position: relative;
  z-index: 2rem;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

@media screen and (max-width: 768px) {
  body{
    font-size: .6rem;
  }
}